<div [class]="class" [formGroup]="inputSwitchFormGroup">
    <p-inputSwitch id="{{id}}" 
                   [trueValue]="trueValue" 
                   [falseValue]="falseValue" 
                   (onChange)="handleEvent($event)">
    </p-inputSwitch>
  
    <ng-container *ngIf="checked && showLabel; else hasDisabled">
      <span [class]="classSpan">{{labelWhenTrue}}</span>
    </ng-container>
  
    <ng-template #hasDisabled>
      <span [class]="classSpan">{{labelWhenFalse}}</span>
    </ng-template>
</div>